@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Nunito:ital@1&family=Poppins:wght@500&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   overflow-x: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/bible_read_darkbg.jpg);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
 .navbar-brand{
  color: #FBB538!important;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25000;
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 4%;
}
.burger-menu{
    display: none;
}
a.current{
    border-bottom: 1.5px solid  #cacaca
    
}
.nav-links{
    position: sticky    ;
    width: 80%;
    height: 100%;
    transform: translatey(0);
    box-shadow: none;
    background-color: transparent;
}
.nav-links ul{
    padding: 0 0rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-links ul li a{
    display: block;
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
    transition: color .3s ease-in-out   ;
}
.nav-links ul li a:hover{
    color: #FBB538;
    text-decoration: none;
}

.hero-section {
    position: relative;
    color: white;
    height: 80vh;
}
.hero-content{
    position: absolute;
    top: 40%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.hero-content .yellow-underline{
    position: absolute;
    width: 50%;
    height: 4px;
    top: 75%;
    left: 0%;
    background-color: #FBB538;
    margin-bottom: 5rem;
}
h1{
    font-size: 5rem;
    color: white!important; 
    font-weight: bold;
}
.hero-content .hero-btn{
    background-color: #FBB538;
    border: none;
    color: black;
    border-radius: 0;
    font-weight: bold;
    padding: .5rem;
    width: 7rem;
    margin-top: 3rem;
    transition: all .3s ease;
}
.hero-btn:hover{
    transform: scale(1.1);
    border-radius: 50px;
}
.scroll-down-btn{
    z-index: 100;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 4rem;
    height: 4rem;
}
.scroll-down-btn img{
    width: 50%;
    opacity: .5;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(196deg) brightness(100%) contrast(105%);
}    
.home-second-section{
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(180deg, rgba(254, 254, 254, 0.8) 0%, rgba(254, 254, 254, 0.8) 100%), url(../images/home-sec2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-second-section .container{
    min-height: 80vh;
}
h2{
    font-size: 3.5rem;
    font-weight: bold;
}
.home-second-section a{
    color: #13456A;
}
.text-part{
    position: relative;
}
.text-part h2{
    margin-bottom: 3rem;
}
.text-part strong{
    font-weight: bold;
}
.text-part .yellow-underline{
    position: absolute;
    width: 20%;
    height: 4px;
    top: 53%;
    left: 3%;
    background-color: #FBB538;
    margin-bottom: 5rem;
}   
.yellow-lines-for-links{
    width: 3rem;
    margin: 0 .5rem;
}
.text-part .left-line{
    margin-left: 0;
}
.direction-div{
    width: 50%;
    background-color: #FBB538;
    height: 40vh;
    transition: all .3s ease;
}
.direction-div img{
    display: block;
    width: 1.2rem;
}
.direction-div:hover{
    background-color: #1B1B1B;
}
.direction-div:hover .loc-icon{
    filter: invert(76%) sepia(100%) saturate(4027%) hue-rotate(334deg) brightness(107%) contrast(94%);
}
.direction-div:hover .direction-link{
    color: #FBB538;
}
.sunday-timing-div{
    width: 50%;
    background-color: #13456A;
    color: white;
    height: 40vh;
    transition: all .3s ease;
}
.sunday-timing-div:hover{
    background-color: #1B1B1B;
    color: #FBB538;
}
.home-third-section{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgba(254, 254, 254, 0.8) 0%, rgba(254, 254, 254, 0.8) 100%), url(../images/home-sec2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}
.home-third-section .container{
    min-height: 100vh;
    background-color: #FBB538;
}
.custom-list .list-group-item{
    border: none;
    background: none;
}
.custom-list .list-group-item p{
    display: inline-block;
}
.hub-box .custom-list .list-group-item img{
    width: 2rem;
}
.hub-box{
    background-color: white;
    height: 50vh;
    transition: all .3s ease;
}
.hub-box a{
    color: #13456A;
}
.hub-box:hover{
    background-color: #FBB538;
}
.hub-box:hover .yellow-arrow{
    filter: invert(19%) sepia(35%) saturate(2297%) hue-rotate(178deg) brightness(93%) contrast(88%);
}
.yellow-arrow{
    width: 3rem;
    margin-left: .5rem;
}
.prayer-box{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/prayer-girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white!important;
    height: 50vh;
    transition: all 1s;
    background-position: center;
}
.prayer-box a{
    color: #FBB538;
}
.prayer-box:hover{
    transition: all 1s;
    background-position: right;
}
.sermons-box{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/sermon-mic-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white!important;
    height: 50vh;
    transition: all 1s;
}
.sermons-box a{
    color: #FBB538;
}
.sermons-box p{
    margin-left: 1rem;
}
.sermons-box:hover{
    transition: all 1s;
    background-position: right;
}
.contact-box{
    background-color: white;
    height: 50vh;
    transition: all .3s ease;
}
.contact-box a{
    color: #13456A;
}
.contact-box:hover{
    background-color: #13456A;
}
.contact-box:hover a{
    color: #FBB538;
}
.contact-box:hover p{
    color: white;
}
footer{
    background-color: #1B1B1B;
    padding: 2rem 0rem;
    margin-top: auto;
}
footer .miba-logo{
    width: 5rem;
}
.social-links{
    padding: 1rem;
}
.social-links img{
    width: 1.5rem;
    margin: .7rem .5rem;
    display: inline-block;
}
.social-link-text{
    display: inline-block;
    margin: 1rem .5rem;
    color: #FBB538;

}
.footer-bottom a{
    transition: color .3s ease;
}
.footer-bottom a:hover{
    color: #FBB538!important;
}

@media (max-width: 992px){
    .burger-menu{
        width: 2.2rem;
        height: 2.2rem;
        background-color: #eee;
        border-radius: .3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 6000;
    }
    .burger-menu:hover{
        box-shadow: inset .3rem .3rem .3rem #cacaca,
                    inset -.3rem -.3rem .8rem #fff;
    }
    .bar{
        width: 1.5rem;
        height: 2px;
        background-color: black;
        display: inline-block;
        position: relative;
        transition: background-color .5s;
    }
    .bar::before, .bar::after{
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: black;
        transition: all .5s;
    }
    .bar::before{
        top: -.4rem;
    }
    .bar::after{
        top: .4rem;
    }
    .open .bar{
        background-color: transparent;
    }
    .open .bar::before{
        top: 0;
        transform: rotate(135deg);
    }
    .open .bar::after{
        top: 0;
        transform: rotate(-135deg);
    }
    .nav-links{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 70vh;
        background-color: #1B1B1B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: -.5rem 0 1rem rgba(0,0,0,.1);
        transform: translatey(-110%);
        transition: transform .8s;
        z-index: 4000;
    }
    .open .nav-links{
        transform: translatex(0);
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-links ul li{
        margin: .5rem 0;
    }
    .nav-links ul li a{
        padding: .3rem;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        transition: all .3s;
    }

    h1{
        font-size: 4rem;
    }
    header{
        background-position: center;
    }
    .hero-content .yellow-underline{
        top: 70%;
    }
    .home-second-section{
        background-position: center;
    }
    .nav-menu-collapse{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        transition: all .5s ease;
    }
    .navbar-collapse{
        background-color: #1B1B1B;
          
    }

}
@media (max-width: 780px){
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 3rem;
    }
    .hero-content .yellow-underline{
        top: 68%;
    }
    .hero-content .hero-btn{
        margin-top: 2.5rem;
    }
    .text-part{
        padding: 2rem 0rem;
    }
    .text-part .yellow-underline{
        top: 50%;
        left: 1.8%;
    }
}
@media (max-width: 520px){
    h1{
        font-size: 3rem;
    }
    .hero-content .yellow-underline{
        top: 65%;
    }
    .hero-content .hero-btn{
        margin-top: 2rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .text-part h2{
        margin-bottom: 2rem;
    }
    .text-part .yellow-underline{
        top: 48%;
        left: 4%;
    }
    .text-part{
        padding: 2rem 1rem;
    }
}
@media (max-width: 390px){
    header{
        height: 90vh;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    .hero-content .yellow-underline{
        top: 62%;
        height: 2.5px;
    }
    .hero-content .hero-btn{
        margin-top: 2rem;
        width: 6rem;
        padding: .2;
    }
    .text-part .yellow-underline{
        height: 2.5px;
        left: 5%;
        top: 45%;
    }
}
/* The Home Page CSS Ends Here */

/* About Page CSS */



/* The About Page CSS Ends Here */

.non-home-header{
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/about_bg.jpg);
    background-position: center;
    height: 40vh;
    position: relative;
    transition: height .5s ease;
}
.about-header{
    z-index: 5000;
}
.non-home-header h1{
    position: absolute;
    top: 55%;
}
.non-home-header h1::after{
    content: '';
    display: block;
    margin: 0 0;
    width: 50%;
    border-bottom: 4px solid #FBB538;
}
.about-first-section{
    width: 100%;
    min-height: 100vh;
}
.map-section{
    width: 100%;
    min-height: 40vh;
    background-color: #eee;
    padding: 2rem 0;
}
.map-section .container{
    height: 100%;
}
.map-container{
    margin: auto 0;
}   
.map{
    width: 100%;
    height: 15rem;
    margin: 0 auto;
    border: 2px solid #1B1B1B;
}
.map-section iframe{
    width: 100%;
    height: 100%;
}
.timing{
    margin: .5rem 0;
}
.timing li{
    text-align: center;
}
.church-details-section{
    width: 100%;
    min-height: 60vh;
    padding: 2rem 0;
}
.church-details-section .container{
    height: 100%;
}
.left-side-text{
    width: 50%;
    height: 100%;
    background-image: url(../images/about-question-mark.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.believe-section{
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    background-color: #13456A;
    position: relative;
}
.believe-section .container{
    position: relative;
}
.believe-section h2::after{
    content: '';
    display: block;
    margin: 0 30%;
    width: 20%;
    border-bottom: 4px solid #FBB538;
}
#carouselMibaControls{
    width: 100%;
    height: 60vh;
}
.carousel-inner{
    min-height: 60%;
}
.carousel-item{
   height: 100%; 
}
.slide{
    width: 70%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-indicators li{
    background-color: #FBB538;
}
.vision-section{
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    
}
.vision-section .container{
    position: relative;
}
.vision-section .yellow-underline{
    position: absolute;
    width: 10%;
    height: 4px;
    top: 25%;
    left: 38%;
    background-color: #FBB538;
    margin-bottom: 5rem;
}
.vision-section h2::after{
    content: '';
    display: block;
    margin: 0 38%;
    width: 13%;
    border-bottom: 4px solid #FBB538;
}
.vision-text{
    margin-top: 3rem;
}
@media (max-width: 991px){
    .believe-section h2::after{
        margin: 0 18%;
        width: 35%;
    }

    .vision-section h2::after{
        margin: 0 30%;
        width: 20%;
    }
}
@media (max-width: 780px){
    .church-details-section .right-side{
        margin-top: 3rem;
    }
    .believe-section h2::after{
        margin: 0 23%;
        width: 30%;
    }

    .vision-section h2::after{
        margin: 0 33%;
        width: 18%;
    }
}
@media (max-width: 767px){
    .believe-section h2::after{
        margin: 0 14%;
    }

    .vision-section h2::after{
        margin: 0 28%;
    }

}
@media (max-width: 520px){
    .believe-section h2::after{
        margin: 0 18%;
    }

    .vision-section h2::after{
        margin: 0 30%;
    }

}
@media (max-width: 440px){
    .believe-section h2::after{
        margin: 0 14%;
    }

    .vision-section h2::after{
        margin: 0 27%;
    }

}
/* The About Page Ends Here */

/* The Sermons Page Starts Here */
.sermons-header{
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/sermons-bg.jpg);

}

.sermons-wrapper{
    min-height: 50vh;
    padding: 2rem 1rem;

}
.sermon-card{
    border: none;
}
.sermon-card-body{
    background-color: #FBB538;
}
.sermon-card-btn{
    background-color: #13456A!important;
    border: none;
    transition: background-color .3s ease;
}
.sermon-card-btn:hover{
    background-color: #1B1B1B!important;
}

/* The Sermons Page Ends Here */

/* The Prayer Requests Page Starts Here */
.prayer-header{
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/prayer-requests-bg.jpg);
}
.prayer-request-container{
    min-height: 50vh;
    padding: 2rem 0;
}
.prayer-card .card-header{
    border-color: #FBB538;
}

/* The Prayer Requests Page Ends Here */

/* The Hub Page Starts Here */
.hub-header{
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/hub-bg.jpg);
}
.hub-container{
    min-height: 50vh;
    padding: 2rem 1rem;

}
 /* SearchBox styles */
 .active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #13456A;
    box-shadow: 0 1px 0 0 #ce93d8;
    padding: 1rem;
  }
svg {
    fill: #13456A;
}
 /* Search Box styles ends here */

/* The Hub Page Ends Here */

/* The Hub Detailed Page Starts Here */
.hub-detail-header{
    height: 20vh;
    z-index: 5000;
}
.hub-detail-container{
    min-height: 50vh;
    padding: 2rem 1rem;

}
.hub-detail-container h2::after{
    content: '';
    display: block;
    margin: 0 0%;
    width: 50%;
    border-bottom: 4px solid #FBB538;
}
/* The Hub Detailed Page Ends Here */

/* The Contact Page Starts Here */
.contact-header{
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/contact-bg.jpg);
    z-index: 5000;
}
.contact-container{
    min-height: 80vh;
    padding: 2rem 1rem;
}
textarea{
    resize: none;
}
.contact-info-card-body{
    background-color: #13456A;
}
.contact-info-card-body img{
    width: 1.2rem;
    margin-right: .5rem;
}
.contact-form .form-btn{
    background-color: #FBB538;
    border: none;
    color: black;
    border-radius: 0;
    font-weight: bold;
    padding: .5rem;
    width: 5rem;
    transition: all .3s ease;
    letter-spacing: 1px;
}
.contact-form .form-btn:hover{
    background-color: #0275d8;
    color: white;
}
/* The Contact Page Ends Here */

/* Image Gallery CSS */
.gallery-header{
    background-image:linear-gradient(359.71deg, rgba(0, 0, 0, 0.616) 6.89%,rgba(16, 108, 129, 0.7) 47.39%, rgba(0, 0, 0, 0.7) 91.04%), url(../images/gallery_bg.jpg);
}
.gallery-detail-header{
    height: 20vh;
    z-index: 5000;
}
.album-card .card-body{
    background-color: #1B1B1B;
}
.album-card-btn{
    background-color: #FBB538;
    border: none;
    color: black;
    transition: all .3s ease;
}
 /* The Image Gallery CSS Ends Here */   

/* Paginator CSS */
.paginator-prev svg{
    fill: blue;
    display: inline-block;
}
.paginator .page-link{
    background-color: #1B1B1B;
    color: #FBB538;
    border: none;
    margin: .1rem;
}
.paginator .active .page-link{
    background-color: #FBB538;
    color: black;
}
/* Paginator CSS Ends */
@media (max-width: 340px){
    .nav-links{
        height: 50vh;
    }
    .nav-links ul li{
        margin: .5rem 0;
    }
    .brand{
        margin-top: 1rem;
    }
}

@media (max-width: 600px){
    .burger-menu{
        width: 2rem;
        height: 2rem;
    }
    .bar{
        width: 1.5rem;
    }
    .bar::before{
        top: -.5rem;
    }
    .bar::after{
        top: .5rem;
    }
    .nav-links ul li a{
        font-size: 1rem;
    }
}
@media (min-width: 1400px){
    html{
        font-size: 1.2rem;
    }
    .navbar-brand{
        font-size: 1.8rem;

    }
}
/* Active header to extend height with navbar collapse */
.active-header{
    height: 70vh;
    transition: height .5s ease;
}
.active-nav-link {
    color: #FBB538;
}

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }