{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block header %}<header class="non-home-header about-header">{% endblock %}

    {% block content %}
    <div class="container">
        <h1>About Us</h1>
    </div>
</header>

<section class="about-first-section">
    <div class="map-section">
        <div class="container">
            <div class="row h-100">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 map-container">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d100617.70377846592!2d145.12431507680213!3d-37.99338674455829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x6ad6141e6d19cf59%3A0xbb402e0f9dad2978!2smelbourne%20indian%20brethren%20assembly!3m2!1d-37.9935428!2d145.1943552!5e0!3m2!1sen!2sin!4v1592923233626!5m2!1sen!2sin"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 timing">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3>Sunday Timing</h3>
                        </li>
                        <li class="list-group-item">
                            <p>Sunday School - 9:15AM </p>
                        </li>
                        <li class="list-group-item">
                            <p>Worship - 10AM to 12PM</p>
                        </li>
                        <li class="list-group-item">
                            <p>Bible Study - 12PM to 12:30PM</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="church-details-section d-flex align-items-center">
        <div class="container my-auto">
            <div class="row h-100">
                <div
                    class="d-flex justify-content-center align-items-center col-lg-6 col-md-6 col-sm-12 col-12 left-side">
                    <div class="left-side-text d-flex justify-content-center align-items-center">
                        <h2 class="">Who <br>
                            Are <br>
                            We</h2>
                    </div>
                </div>
                <div
                    class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center right-side">
                    <p><span class="font-weight-bold">Melbourne Indian Brethren Assembly(MIBA)</span> is a
                        fellowship of Bible-believing
                        Christians
                        (commonly
                        known as "brethren") gathered to the name of the Lord Jesus Christ and seeking to be a
                        testimony
                        of God's love and saving grace. <br><span class="font-weight-bold">MIBA</span> has started
                        it’s
                        service in 2008 August
                        10th.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="believe-section d-flex align-items-center">
    <div class="container">
        <h2 class="text-white text-center">What We Believe</h2>

        <div id="carouselMibaControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselMibaIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="1"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="2"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="3"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="4"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="5"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="6"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="7"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="8"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="9"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="10"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="11"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="12"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="13"></li>
                <li data-target="#carouselMibaIndicators" data-slide-to="14"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="slide text-center text-white">
                        We believe that the Bible, both Old and New Testaments as the inspired Word of God Inerrant
                        and infallible in the original writings and they are the supreme and final authority for
                        faith and life.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe in One God, eternally existing in three persons, Father, Son and the Holy Spirit.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that Jesus Christ was conceived by the Holy Spirit, born of a virgin, Mary, and
                        is True God and True Man, perfect without sin.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that man was created in the image God, and he sinned, thereby incurred not only
                        physical death, but also spiritual death, which is separation from God. And all human beings
                        are sinners in thought, word and deed.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that the Lord Jesus Christ died for our sins, according to the Scriptures, as the
                        representative and substitutionary sacrifice, and that all who believe in Him are justified
                        by the virtue of His shed blood.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe in the resurrection of the crucified body of our Lord, and in His ascension into
                        Heaven, and His enthronement at the right hand of God the Father, where He ministers for us
                        as High Priest, Advocate, and Head of the church.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe in the pre-tribulation, pre-millennial return of our Lord Jesus Christ and the
                        rapture of His saints to meet the Lord in the air.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that all who receive the Lord Jesus Christ by repentance and Faith are born again
                        of the Holy Spirit and become children of God.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that a person must be born again to receive eternal life.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that a believer has eternal security from the moment of conversion.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe in Believers Baptism by Immersion.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe in the Priesthood of ALL believers.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe the Lord's Table is the center of focus on the Lord’s Day and thus each first day
                        of the week we come together to Break Bread.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe that the church government consist of elders who meet the qualification of 1 Tim
                        3 and Titus 1.
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide text-center text-white">
                        We believe in the bodily resurrection of the just and unjust, the eternal blessedness of the
                        saved and the eternal punishment of the lost.
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselMibaControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselMibaControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="vision-section d-flex align-items-center">
    <div class="container">
        <h2 class="vision-heading text-center">Our Vision</h2>
        <!-- <span class="yellow-underline"></span> -->
        <div class="vision-text">
            <p>It is not for men to craft a vision for the church, but rather to embrace the vision that God gives
                us in
                His Word. This vision is expressed in the Scriptures in the overarching goal of bringing glory to
                God
                through, <br>
                <br>
                1) The glorious work of perfecting the saints within the church. <br>
                2) The demonstration of the work of God’s Spirit in His redeemed people as they take His Gospel to
                the
                world in word and life. In brief, the call is to glorify God through the edification of the saints
                and
                the discipling of the nations.</p>
        </div>
    </div>
</section>
{% endblock %}