{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block header %}<header class="non-home-header contact-header">{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Contact</h1>
    </div>
</header>

<section class="container contact-container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success m-2" id="msg">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row  d-flex align-items-center justify-content-center">
        <div class="card sermon-card mb-4 contact-info-card col-12 col-sm-12 col-md-6 col-lg-6" style="width: 10rem;">
            <img class="card-img-top" src="{% static 'images/sermon-card-img.jpg' %}" alt="miba contact">
            <div class="card-body sermon-card-body contact-info-card-body text-white">
                <p class="card-text"><img src="{% static 'images/phoneIcon.png' %}" alt="phone-icon"> 0431370627</p>
                <p class="card-text"><img src="{% static 'images/emailIcon.png' %}" alt="email-icon">
                    mbassembly@yahoo.com</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <form class="contact-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="MibaFormControlInput1">Your Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="MibaFormControlInput1">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="MibaFormControlInput1">Message</label>
                    {{ form.message }}
                </div>
                <input class="btn btn-primary form-btn" type="submit" value="Send">
            </form>
        </div>
    </div>
</section>
{% endblock %}