{% extends 'base.html' %}
{% load static %}
{% block title %} Hub {% endblock %}

{% block header %}<header class="non-home-header hub-header">{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Hub</h1>
    </div>
</header>

<section class="container hub-container">
    <form action="{% url 'hub_search' %}" method="GET">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <input type="search" name="r" placeholder="Looking something in hub? Type it here.."
                    aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        {% if hubSearchResult %}
        {% for hubItem in hubSearchResult %}

        <div class="card sermon-card mb-4 col-12 col-sm-12 col-md-4 col-lg-4" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/sermon-card-img.jpg' %}" alt="miba sermon">
            <div class="card-body sermon-card-body">
                <p class="card-text text-uppercase">{{hubItem.title}}</p>
                <a class="btn btn-primary sermon-card-btn" href="{{ hubItem.get_absolute_url}}">View Details</a>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="container mt-4">
            <p>No search results matching "{{query}}".</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}