{% extends 'base.html' %}
{% load static %}
{% block title %} HubDetails {% endblock %}

{% block header %}<header class="non-home-header hub-header gallery-detail-header">{% endblock %}

    {% block content %}
    <div class="container">
        <!-- <h1>Gallery</h1> -->
    </div>
</header>

<section class="container hub-detail-container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2>{{hubItem.title}}</h2>
            <p class="mt-4">{{hubItem.content}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <div class="card hub-card p-0 border-0">
                <img class="card-img-top" src="{{hubItem.hub_image.url}}" alt="hub-detail-img">
            </div>
        </div>
    </div>
    <div class="row pl-3 mt-3">
        <ul class="list-group">
            <li class="list-group-item"><span class="font-weight-bold">Date</span> : {{hubItem.date}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Time</span> : {{hubItem.time}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Venue</span> : {{hubItem.venue}}</li>
        </ul>
    </div>
</section>
{% endblock %}