{% extends 'base.html' %}
{% load static %}
{% block title %} Hub {% endblock %}

{% block header %}<header class="non-home-header hub-header">{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Hub</h1>
    </div>
</header>

<section class="container hub-container">
    <form action="{% url 'hub_search' %}" method="GET"
        class="form-inline d-flex justify-content-center md-form form-sm active-purple-2 mt-0 mb-4">
        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
        <input class="form-control form-control-sm ml-3 w-75" name="r" type="text" placeholder="Search in hub.."
            aria-label="Search">
    </form>

    <div class="row">
        {% if hubSearchResult %}
        {% for hubItem in hubSearchResult %}

        <div class="card sermon-card mb-4 col-12 col-sm-12 col-md-4 col-lg-4" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/sermon-card-img.jpg' %}" alt="miba sermon">
            <div class="card-body sermon-card-body">
                <p class="card-text text-uppercase">{{hubItem.title}}</p>
                <a class="btn btn-primary sermon-card-btn" href="{{ hubItem.get_absolute_url}}">View Details</a>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p>No search results matching "{{query}}".</p>
        {% endif %}
    </div>
</section>
{% endblock %}