{% extends 'base.html' %}
{% load static %}
{% block title %} prayerRequests {% endblock %}

{% block header %}<header class="non-home-header prayer-header">{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Prayer Requests</h1>
    </div>
</header>

<section class="container prayer-request-container">
    <div class="card prayer-card text-white bg-dark mb-4">
        <div class="card-header">
            The Date Of Posting
        </div>
        <div class="card-body">
            <h5 class="card-title">Prayer Request Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card prayer-card text-white bg-dark mb-4">
        <div class="card-header">
            The Date Of Posting
        </div>
        <div class="card-body">
            <h5 class="card-title">Prayer Request Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card prayer-card text-white bg-dark mb-4">
        <div class="card-header">
            The Date Of Posting
        </div>
        <div class="card-body">
            <h5 class="card-title">Prayer Request Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card prayer-card text-white bg-dark mb-4">
        <div class="card-header">
            The Date Of Posting
        </div>
        <div class="card-body">
            <h5 class="card-title">Prayer Request Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</section>
{% endblock %}