{% extends 'base.html' %}
{% load static %}
{% block title %} Sermons {% endblock %}

{% block header %}<header class="non-home-header sermons-header">{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Sermons</h1>
    </div>
</header>
<section class="container sermons-wrapper">
    <form action="{% url 'sermons_search' %}" method="GET"
        class="form-inline d-flex justify-content-center md-form form-sm active-purple-2 mt-0 mb-4">
        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
        <input class="form-control form-control-sm ml-3 w-75" name="q" type="text" placeholder="Search for sermons.."
            aria-label="Search">
    </form>
    <div class="row">
        {% if sermonsSearchResult %}
        {% for sermon in sermonsSearchResult %}
        <div class="card sermon-card mb-4 col-12 col-sm-12 col-md-4 col-lg-4" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/sermon-card-img.jpg' %}" alt="miba sermon">
            <div class="card-body sermon-card-body">
                <p class="card-text text-uppercase">{{sermon.title}}</p>
                <button type="button" class="btn btn-primary sermon-card-btn" data-toggle="modal"
                    data-target="#MibaModalCenter{{sermon.id}}">Watch</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    {% for sermon in sermonsSearchResult %}
    <div class="modal fade" id="MibaModalCenter{{sermon.id}}" tabindex="-1" role="dialog"
        aria-labelledby="MibaModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MibaModalLongTitle{{sermon.id}}">MIBA Sermon - {{sermon.date_posted}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item sermon-iframe"
                        src="https://www.youtube.com/embed/{{sermon.link}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No search results matching "{{query}}".</p>
    {% endif %}

</section>

{% endblock %}